# git files
.git
.github
.gitignore

# linter files
.eslintignore
.eslintrc.json


.husky
coverage
jest.config.js
node_modules
.env
template.env

# repo docs
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.md

nodemon.json
Procfile

# docker files
Dockerfile
.dockerignore
