<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Botomir</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Botomor: your friendly neighbourhood discord bot">
    <meta name="author" content="Sooraj Modi & Marshall Asch">

    <link rel="icon" href="/images/botomir.png"> <!-- Need .ico file type -->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/about.css">
    <link rel="stylesheet" type="text/css" href="css/statistics.css">
    <link rel="stylesheet" type="text/css" href="css/docs.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <nav class="navbar navbar-expand-md navbar-custom">
            <a class="navbar-brand" href="/">
                <img src="/images/botomir.png" alt="Botomir Logo" width="30" height="24"
                     class="d-inline-block align-top">
                Botomir
            </a>

            <div class="navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/documentation">Documentation</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/statistics">Statistics</a>
                </div>
            </div>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/about">About</a>
                </li>
            </ul>
        </nav>
        {{{body}}}
    </div>
    <footer>
        <a href="https://github.com/SoorajModi/Botomir" target="_blank" class="footer-icon">
            <i class="fa fa-github fa-lg"></i>
        </a>
    </footer>
</div>
</body>
</html>
