<div class="container center-content">
    <h1>403 Forbidden</h1>
    <h2>Nice try, but I don't think you are allowed to do that.</h2>

    <p>You do not have permission to access the page that you requested.</p>


    <div class="container col-md-offset-3 col-md-3">
        <a class="btn btn-custom btn-block" href="/" role="button" target="_self">Fine take me home</a>
    </div>

</div>
