<div class="container center-content">
    <h1>500 Internal Server Error</h1>
    <h2>Oh No!!!!!!!!!!!!! Something horrible has happened</h2>

    <p>
        Error Message: {{errorMessage}}
    </p>
</div>
