<main role="main">
    <div class="container center-content" style="padding-top: 0;">
        <!--        <img src="/images/logo.jpg" alt="Botomir Logo">--> <!-- Use Botomir logo when ready -->
        <h1 class="about-header-padding">About Botomir</h1>
        <p class="align-text-left about-description-padding">
            Botomir is a Discord Bot written in Javascript. They were born on November 25, 2020, and was a happy
            accident more than a planned project. Botomir was created because he is a remedy to loneliness. It can be
            just you and Botomir, they won't tell.

            Botomir loves to eat chicken and waffles, washing it down with a Four loco, and cookies for dessert. Their
            favourite song is the windows startup sound. His hobbies include going on long scrolls through Wikipedia,
            watching the sunset on YouTube, and snuggling up with the CPU on a cold night. Botomir's favourite tv show
            is Mr. Robot, and their favourite movie is 2001: A Space Odyssey.

            Botomir also loves to play. Feel free to ask them a command, they don't wear a shirt, but still has plenty
            of tricks up their sleeve. Botomir likes it when you call them a good bot, and also kinda likes it when you
            call them a bad bot.
        </p>

        <div class="creator-card-padding">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="/images/soorajmodi.jpg" alt="Sooraj Modi profile picture" class="creator-image-size">
                    </div>
                    <div class="col card-block px-2">
                        <h5 class="card-title creator-card-title-padding">Sooraj Modi</h5>
                        <p class="card-text align-text-left creator-card-description-padding">
                            Hello, and welcome to Botomir! This project
                            originally because I wanted to add fun features to a server I shared with some friends. Ever
                            since then its grown and gained tons of cool features. I loved seeing the application
                            evolve, adding to new pieces, and watching it take shape. It taught me a ton about
                            application development and I'm very proud of what we've built. If you have any questions or
                            would like to learn more about me, please take a look at my website.</p>
                        <a href="https://soorajmodi.com" target="_blank"><p class="card-text"><small
                                class="text-muted">soorajmodi.com</small></p></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="/images/marshallasch.jpg" alt="Marshall Asch profile picture" class="creator-image-size">
                </div>
                <div class="col card-block px-2">
                    <h5 class="card-title creator-card-title-padding">Marshall Asch</h5>
                    <p class="card-text align-text-left creator-card-description-padding">
                        Hey, I started working on Botomir because "why not do one more little project?".
                        I love the idea of haveing one big super configuratble bot for the server that can
                        do all the thigs, so I started maing all the things.

                        <figure>
                            <blockquote cite="http://www.imdb.com/title/tt0107290/quotes">
                                <p>
                                "[We] were so preoccupied with whether or not [we] could that [we] didn't
                                stop to think if [we] should [add the cool new feature]."
                                </p>
                            </blockquote>
                            <figcaption>—Dr. Ian Malcolm, <cite>Jurassic Park.</cite></figcaption>
                        </figure>


                            I think that <i>slight</i> missquote from the movie Jurassic Park, accuratly
                            describes what we have done with Botomir. For me working on this project has
                            been an awesome way to work on writing more modular code, and <b>willingly</b> work
                            with a friend on a project that the University is not forcing us to do.

                            If you want to checkout what else I have done checkout my website and my Github page.
                    </p>
                    <a href="https://marshallasch.ca" target="_blank"><p class="card-text"><small
                            class="text-muted">marshallasch.ca</small></p></a>
                </div>
            </div>
        </div>
    </div>
</main>
