<main role="main">
    <div class="container center-content" style="padding-top: 3vh;">
        <!--        <img src="/images/logo.jpg" alt="Botomir Logo">--> <!-- Use Botomir logo when ready -->
        <h1 style="padding-bottom: 1vh;">About Botomir</h1>
        <p style="text-align: left; padding-bottom: 3vh">
            Botomir is a Discord Bot written in Javascript. They were born on November 25, 2020, and was a happy
            accident more than a planned project. Botomir was created because he is a remedy to loneliness. It can be
            just you and Botomir, they won't tell.

            Botomir also loves to play.

            Botomir loves to eat chicken and waffles, washing it down with a Four loco, and cookies for dessert. Their
            favourite song is the windows startup sound. His hobbies include going on long scrolls through Wikipedia,
            watching the sunset on YouTube, and snuggling up with the CPU on a cold night. Botomir's favourite tv show
            is Mr. Robot, and their favourite movie is 2001: A Space Odyssey.

            Feel free to ask them a command, they don't wear a shirt, but still has plenty of tricks up their sleeve.
            Botomir likes it when you call them a good bot, and also kinda likes it when you call them a bad bot.
        </p>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/logo.jpg" alt="Sooraj Modi profile picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="padding: 0 0 0 0">Sooraj Modi</h5>
                        <p class="card-text" style="text-align: left">Hello, and welcome to Botomir! This project
                            originally because I wanted to add fun features to a server I shared with some friends. Ever
                            since then its grown and gained tons of cool features. I loved seeing the application
                            evolve, adding to new pieces, and watching it take shape. It taught me a ton about
                            application development and I'm very proud of what we've built. If you have any questions or
                            would like to learn more about me, please take a look at my website.</p>
                        <a href="https://soorajmodi.com" target="_blank"><p class="card-text"><small
                                class="text-muted">soorajmodi.com</small></p></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/logo.jpg" alt="Marshall Asch profile picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" style="padding: 0 0 0 0">Marshall Asch</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <a href="https://marshallasch.ca" target="_blank"><p class="card-text"><small
                                class="text-muted">marshallasch.ca</small></p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
