<h1>Linking spotify account to this bot</h1>

{{#if error}}
    <h2>Oh no something went wrong!!!</h2>
    <p>Error message: {{{error}}}</p>
{{else}}
    <h2>Success!! You can now close this window.</h2>
{{/if}}
