<main role="main">
    <div class="container center-content">
<!--        <img src="/images/logo.jpg" alt="Botomir Logo">--> <!-- Use Botomir logo when ready -->
        <h1>Botomir</h1>
        <h5>Your friendly neighbourhood Discord bot</h5>
        <div class="container col-md-offset-3 col-md-5">
            <a class="btn btn-custom btn-block"
               href="https://discord.com/api/oauth2/authorize?client_id={{clientID}}
            &permissions=469887088&scope=bot" role="button" target="_blank">Add to Server</a>
            <a class="btn btn-custom btn-block" href="https://paypal.me/soorajmodi?locale.x=en_US" role="button"
               target="_blank">Donate</a>
        </div>
    </div>
</main>