<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-top">
            Botomir
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Documentation<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main role="main">
    <div class="vertically-center">
        <h1>Botomir</h1>
        <h5>Your friendly neighbourhood Discord bot</h5>
        <a class="btn btn-custom" href="https://discord.com/api/oauth2/authorize?client_id={{clientID}}
        &permissions=469887088&scope=bot" role="button" target="_blank">Add to Server</a>
    </div>
</main>