<h1>Hey there! You found the discord bot</h1>
<p>This is an amazing discord bot (not a good website) to use it you need to use discord.</p>

<h2>Do you want to add this bot to your discord server?</h2>
<h4>Click this <a href="https://discord.com/api/oauth2/authorize?client_id={{clientID}}&permissions=469887088&scope=bot" target="_blank">this link</a> and your good to go!</h4>
