

<div class="container col-md-offset-3 col-md-5">
    <a class="btn btn-custom btn-block" href="/settings/{{serverID}}/configure" role="button">Settings</a>
</div>

<br>
<div class="container col-md-offset-3 col-md-5">
    <a class="btn btn-custom btn-block" href="/settings/{{serverID}}/webhooks" role="button">Webhooks</a>
</div>
