

<h1>Your nice new webhook is all ready to go</h1>

<p>
To finish setting up this webhook, take this URL and secret token to the platform
to start receiving your amazing web hooks.
</p>

Webhook URL: <code>{{ url }} </code> <br>
SHHHHHH this is top secret: <code>{{ secret }} </code>
