.about-container-padding {
    padding-top: 0;
    padding-bottom: 25px;
}

.about-header-padding {
    padding-top: 4vh;
    padding-bottom: 1vh;
}

.about-description-padding {
    padding-bottom: 3vh;
}

.creator-card-padding {
    padding-bottom: 25px;
}

.creator-image-size {
    max-width: 36vh;
}

.creator-card-title-padding {
    padding: 10px 0 0 0;
}

.creator-card-description-padding {
    padding: 0 10px 0 10px;
}
